@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.portfolioBox{
    height: calc(100vh - 56px);
    padding-top: 10%;
    padding-left: 15%;
    font-family: 'Source Code Pro', monospace;

    h1{
        font-weight: 800;
        background: -webkit-linear-gradient(to bottom right, rgba(255,98,143,1) 0%, rgba(65,69,249,1) 100%);
        background: -moz-linear-gradient(to bottom right, rgba(255,98,143,1) 0%, rgba(65,69,249,1) 100%);
        background: linear-gradient(to bottom right, rgba(255,98,143,1) 0%, rgba(65,69,249,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ul{
        list-style: none;
        margin-top: 20px;
        font-size: 20px;
        li{
            padding-left: 18px;
            word-wrap: break-word;
            font-family: 'Kanit', sans-serif;
            font-size: 14px;
        }
        
    }       
}


.iconBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}

.myIcon{
    font-weight: 700;
    font-size: 18rem;
    color: #EAEAEA;
}