<div class="row">
    <div class="col-md-6 ">
        <div class="boxLeft">
            <div @fadeInAnimation class="welcomeText">
                <h5 class="text-muted ">HI THERE</h5>
                <h1> I AM KORAWIT SRISAWAN </h1>
                <h3 class="text-secondary">COMPUTER SCIENCE STUDENT</h3>
                <button class="btn btn-c1 btn-lg" [routerLink]="['/about']">About me</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div @slideDownAnimation class="my-img">
            <img src="/assets/myImg.jpg" alt="">
            <div class="circle"></div>
        </div>
    </div>
</div>